@import 'variables';
@import 'colors';

.CaseForm {
  .MuiPaper-root {
    max-width: 800px;
  }

  .RolePicker {
    .RolePickerButton {
      color: $alfa-green-dark;
      border-color: $alfa-green-function;
    }

    .ActiveButton {
      background-color: $alfa-green-bg;
    }

    .RightButton {
      margin-right: -2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .LeftButton {
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .PersonNrContainer {
    margin-bottom: spacing(2);
  }

  .PersonsContainer {
    padding-top: spacing(5);
    padding-bottom: spacing(3);
    margin-top: spacing(3);
    border-top: 1px solid $alfa-grey-silver;
    border-bottom: 1px solid $alfa-grey-silver;
  }

  .LeftHalf,
  .RightHalf {
    height: fit-content;
    padding-top: 0;
  }

  .LeftHalf {
    border-right: 1px solid $alfa-grey-silver;
    padding-right: spacing(3);
  }

  .RightHalf {
    padding-left: spacing(3);
  }

  .ConflictingError {
    color: $alfa-red-text;
  }
}
