@import 'variables';
@import 'colors';

.HelpMenu {
  .MuiPaper-root {
    padding: spacing(1) 0 spacing(1) 0;
    margin: 10px;
  }
}

.HelpMenuTitle {
  white-space: break-spaces;
  text-align: center;
  margin-bottom: spacing(1);
}

.HelpListTitle {
  margin-bottom: 0px;
  text-align: center;
}

.HelpListTitleBar {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-top: spacing(1);
}

.HelpMarkdownContent,
.NoHelp {
  padding: spacing(2);
  white-space: initial;
  max-width: fit-content;
}

.HelpContentTitleBar {
  display: flex;
  align-items: center;

  .MuiTypography-root {
    flex-grow: 1;
  }
}

.HelpContentTitle {
  align-self: center;
  word-break: break-all;
}
.HelpRightEmpty {
  flex: 1;
}

.HelpMenu,
.HelpMenuListItem,
.HelpMarkdownContent,
.NoHelp {
  width: 450px;
}

.NoHelp.MuiButtonBase-root.Mui-disabled {
  background: transparent;
  color: $alfa-grey-medium !important;
}

.HelpMenuAdminListItem {
  padding-left: spacing(3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.HelpMenuListItem {
  .MuiListItemIcon-root {
    margin-right: spacing(1);
  }
}

.CustomDisabled {
  opacity: 1 !important;
}

/* **** Help Admin **** */

.HelpAdminTree {
  width: 100%;
  min-width: 100%;
  height: 100%;
  overflow: initial;
}

.HelpAdminTreeCategory,
.HelpAdminTreeSubcategory,
.HelpAdminTreeLeaf {
  border: 1px solid $alfa-grey-silver;
  margin-bottom: -1px;
  background-color: white;

  &:last-child {
    margin-bottom: -1px;
  }
}

.HelpAdminTree .MuiTreeItem-content {
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
.HelpAdminTree .MuiTreeItem-group {
  padding-left: 10px;
  padding-right: 10px;
}

.HoverBG:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.HelpAdminTree .MuiTreeItem-group,
.HelpAdminTreeLeaf {
  margin-left: -11px;
  margin-right: -11px;
}

.HelpAdminTreeCategory > .Mui-expanded,
.HelpAdminTreeSubcategory > .Mui-expanded {
  padding-bottom: 11px;
}

.HelpAdminTreeSubcategory .MuiTreeItem-label {
  margin-left: 20px;
}

.HelpAdminTree .MuiTreeItem-content {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 10px;
}

.HelpAdminTree .Mui-selected,
.HelpAdminTree .Mui-active,
.HelpAdminTree .Mui-focused {
  background-color: initial !important;
}

.HelpAdminTreeLeaf {
  margin: -1px 0 0;
  padding: 10px 10px 10px 30px;
  display: flex;
  justify-content: space-between;
}

.HelpAdminDesc {
  color: $color-secondary;
  margin: 10px 0 30px;
}

.HelpAdminButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.HelpAdminButton {
  height: fit-content;
}

.HelpAdminEditing {
  color: $color-interactive;
  background-color: $alfa-grey-silver;
}

/* **** Help Admin Form *** */

.HelpAdminForm {
  width: 100%;
  min-width: 100%;
  margin-top: 0px;
}

.HelpAdminContentButtons {
  margin: -45px 0 0;
  padding: 60px 20px 15px 0;
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.HelpAdminIconButton {
  color: $color-interactive;
  margin-right: 25px;
  border: 2px solid $color-interactive;
  padding: 5px 15px;
  border-radius: 10px;

  &:hover {
    color: white;
    background-color: $color-interactive;
  }
}

.HelpAdminButtonActive {
  background-color: $color-interactive;
  color: white;

  &:hover {
    color: $color-interactive;
    background-color: white;
  }
}

.HelpAdminMarkdownPreview {
  border: 1px solid $other-stroke;
  padding: 10px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.HelpAdminMarkdownTitle {
  border-bottom: 1px solid $alfa-grey-silver;
  padding-bottom: 10px;
}

.HelpAdminMarkdownContent {
  padding-left: 10px;
}

.HelpAdminLink {
  padding: spacing(1) 0;
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
}

/* ********* FEEDBACK ************ */

.FeedbackForm {
  margin-top: 0;
  padding: 0 spacing(4);
}
