@import 'variables';
@import 'colors';

.JobsTable > .MuiGrid-container {
  margin: 0 auto;

  .ProcessingIcon {
    margin: spacing(0.5) 0 0 spacing(0.5);
    width: 10px !important;
    height: 10px !important;
  }

  .CompleteIcon {
    width: 18px;
    height: 18px;
    margin-bottom: -(spacing(0.5));
    color: green;
  }
}
