@import 'variables';

.LoadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2px;

  font-weight: 700;

  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 250ms $transition-easeIn;

  .MuiTypography-root {
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  }
}
