@import 'variables';
@import 'colors';

$page-padding: spacing(2);

html,
body {
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh !important;
  width: 100vw !important;
  font-size: 16px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  background-color: #fafafa;
  overflow-wrap: break-word;
}

* {
  box-sizing: border-box;
}

.loading * {
  cursor: wait !important;
}

.ContentContainer {
  display: flex;
  height: 100%;
}

.PageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: max(200px, 90vh);
}

#main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $grey-silver-bg;
}

.MuiLink-root,
a {
  color: $blue-interactive;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}
.ErrorMessage {
  font-size: 14px;
  margin-top: 2px;
  color: red;
}

.WeakText {
  color: $grey-medium;
}

.Italic {
  font-style: italic;
}

.MuiTypography-h1,
.MuiTypography-h2,
.MuiTypography-h3,
.MuiTypography-h4 {
  font-weight: 500;
}

.MuiDivider-root {
  border-bottom-width: medium;
}

.Container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;

  // App bar
  .MuiAppBar-root {
    position: absolute;
    height: $appbar-height;
    z-index: $appbar-zindex;
    background-color: $dark-primary;

    .MuiToolbar-root {
      height: $appbar-height;
      min-height: 0;
    }

    .LogoContainer {
      padding-top: spacing(1.5);
      padding-bottom: spacing(1.5);
    }

    .Logo {
      height: $appbar-height;
      padding: spacing(1);
      margin-right: spacing(2);
      margin-top: 5px;
      object-fit: contain;
      object-position: left center;
      cursor: pointer;
      background: white;
    }

    .Title {
      margin-right: auto;
    }
  }

  .Page {
    margin-top: $appbar-height;
    flex-grow: 1;
    padding: $page-padding;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .Content {
    margin: 0 spacing(6);
  }

  .Footer {
    margin-top: auto;
    padding-top: $page-padding;
    display: flex;
    justify-content: space-between;
  }

  .SubTitle {
    font-size: 1rem;
    color: $grey-dark;
  }

  .SpaceBetween {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.ErrorPage {
  width: 600px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  align-self: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.ContentContainer {
  display: flex;
  height: 100%;
}

.PageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: max(200px, 90vh);
}

.OuterGridContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.GridContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Centered {
  width: 100%;
  margin: 0 auto;
}

// A utility css class that keeps a component at 50% on large
// screens then expands it up to 100% progressively as screen
// size decreases
.responsive-width {
  width: 100%;

  @include breakpoint-up('sm') {
    width: 100%;
  }

  @include breakpoint-up('md') {
    width: 80%;
  }

  @include breakpoint-up('lg') {
    width: 60%;
  }

  @include breakpoint-up('xl') {
    width: 50%;
  }
}
