@import 'variables';
@import 'colors';

.Modal {
  .MuiPaper-root {
    background-color: $grey-almost-light;
    max-width: 90vw;
    width: 100%;
  }

  .MuiDialogTitle-root {
    font-size: 1.75rem;
  }

  .MuiDialogContent-root {
    padding-top: spacing(2);
  }

  .MuiDialogActions-root {
    padding: 1rem;

    .MuiButton-root {
      margin-left: 1rem;
    }
  }
}
