@import 'variables';
@import 'colors';

.RiskAssessmentStep {
  max-width: 1200px;
  justify-content: space-between;
  padding-bottom: spacing(4);
  flex-direction: row;

  .StepMenuContainer {
    position: fixed;
    width: 400px;

    @media screen and (max-height: 800px) {
      position: -webkit-sticky; /* Safari & IE */
      position: sticky;
      top: -30px;
    }

    @media screen and (max-height: 725px) {
      top: -50px;
    }
  }

  .StepMenu {
    width: 100%;
    max-width: 400px;
    padding-top: spacing(4);

    .Mui-active svg {
      // Uncomment this line if we want the color of the step icon (1, 2, etc.) to be grey regardless
      // of whether its active or not (finnss)
      // color: rgba(0, 0, 0, 0.38);
    }

    .Mui-completed {
      font-weight: inherit;
      color: inherit;
    }

    .MuiStepLabel-label.Mui-completed.Mui-active {
      font-weight: 500;
      color: $alfa-text-main;
    }

    .Mui-completed svg {
      color: $alfa-green-dark;
    }

    .Mui-error {
      color: inherit;
    }

    .MuiSvgIcon-root.ErrorIcon {
      margin-bottom: -2px;
      margin-top: -2px;
    }

    .Mui-error.Mui-active {
      color: $alfa-text-main;
    }

    .MuiStepConnector-line {
      min-height: spacing(3);

      @media screen and (max-height: 880px) {
        min-height: spacing(2);
      }

      @media screen and (max-height: 725px) {
        min-height: spacing(1);
      }
    }
  }

  .SaveTemp {
    color: $alfa-green-light;
    border-color: $alfa-green-border;

    @media screen and (max-height: 800px) {
      margin-top: -45px;
    }
  }

  .UpdatedAt {
    font-size: 1rem;
    margin-top: spacing(1);

    // @media screen and (max-height: 1024px) {
    //   margin-top: 0;
    // }

    @media screen and (max-height: 800px) {
      margin-top: -10px;
    }
  }
  .StepContent {
    max-width: 800px;
    align-content: space-evenly;
  }

  .StepHeader {
    font-size: 2.25rem;
    font-weight: 500;
  }

  .StepButtonsContainer {
    margin-top: spacing(2);
    display: flex;
    justify-content: space-between;
  }

  .PrevButton {
    color: $alfa-green-dark;
    border-color: $alfa-green-dark;
    align-self: flex-start;
  }

  .NextButton {
    color: white;
    background-color: $alfa-green-dark;
    align-self: flex-end;
  }

  .FinishButtonContainer:hover {
    cursor: no-drop;
  }

  .FinishButton {
    color: white;
    background-color: $alfa-blue-dark-button;
    align-self: flex-end;

    &:disabled {
      background-color: rgba(0, 0, 0, 0.12);
      color: rgba(0, 0, 0, 0.26);

      &:hover {
        cursor: no-drop;
      }
    }
  }

  .InlineStepButton {
    display: flex;
    text-transform: none;
    padding: 0;
    margin-left: spacing(1.5);
  }

  .SubjectiveAssessmentSummary {
    border: 1px solid $alfa-yellow-warning;
    border-radius: 4px;
  }

  .AssessmentSubHeader {
    margin-bottom: spacing(2);
  }

  .Step1EditPerson {
    &:hover {
      background-color: inherit;
    }

    svg {
      border: 1px solid $other-stroke;
      padding: 4px;
      width: 30px;
      height: 30px;
      border-radius: 4px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }
  }

  .InfoIconTooltip {
    margin-left: spacing(1);
    color: $alfa-grey-active;
  }

  .InfoIconTooltipMarginBottom {
    margin-left: spacing(1);
    margin-bottom: spacing(1);
    color: $alfa-grey-active;
  }

  .Step2HeaderInfo {
    background: $alfa-grey-almost-light;
    border: 1px solid $alfa-blue-menu-icon;
    border-radius: 4px;
    margin-bottom: spacing(4);
    padding: spacing(3);
  }

  .Step2TitleDivider {
    margin-bottom: spacing(2);
  }

  .StepContentBox {
    border: 1px solid $alfa-grey-light;
    border-radius: 4px;
  }

  .EvaluationTitle {
    padding-top: spacing(3);
    margin-top: spacing(2);
    font-weight: 500;
  }

  .EvaluationExplanation {
    margin: 0px;
    padding: spacing(2.5);
  }

  .AddIcon {
    width: 30px;
    height: 30px;
  }

  .RiskFactorEvaluation {
    padding-top: spacing(3);
  }

  .SituationTitle {
    align-items: center;
    display: flex;
    font-weight: 400;
  }

  .AlternateAddress {
    margin-top: spacing(2);
    margin-bottom: spacing(4);
  }

  .AddAlternateAddress {
    display: flex;
    align-items: center;
    margin-bottom: spacing(2);
  }

  .AttachedCheckbox {
    margin-top: -(spacing(1));
  }

  .ErrorIcon {
    color: $alfa-red-text;
    font-size: 28px;
    margin-left: -1px;
  }

  .MoreThanTenDaysOld {
    margin: -(spacing(1)) 0;
  }

  .UpdatePersonModal {
    .MuiPaper-root {
      max-width: 500px;
    }
  }

  .StepInputsContainer {
    max-width: 600px;
    border: 0;
  }

  .MenuBookIcon {
    color: #7fb8e6;
  }

  .TheoryAccordion {
    background-color: $alfa-light-accordion;
    border: 1px solid $alfa-blue-medium;
    border-radius: 4px;
  }

  .MuiAccordionSummary-gutters {
    background-color: $alfa-light-accordion;
  }

  .TitleTextRiskAssessment {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 24px;
  }

  .PsychologicalEvaluation {
    padding-bottom: spacing(3);
    .MuiFormLabel-asterisk {
      display: none;
    }
  }

  .RadioHelperText {
    margin-left: spacing(5);
    margin-top: spacing(1);
  }

  .EvaluationButtonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: spacing(2);

    .MuiToggleButtonGroup-grouped {
      width: spacing(10);
      height: spacing(4);
      padding: 2px 30px;
      border: 1px solid $alfa-blue-dark;
      color: $alfa-blue-dark;
      font-weight: 500;

      &:hover {
        background-color: $alfa-blue-menu-icon;
        color: white;
      }
      &.Mui-selected {
        background: $alfa-blue-link;
        color: white !important;
      }
    }
  }
  .RiskAssessmentButtonGroup {
    display: flex;
    flex-direction: row;
    padding-top: spacing(1);

    .NoneSelected {
      + &.high {
        background: rgba(223, 43, 54, 0.3);
        color: black;
      }

      + &.moderate {
        background: rgba(235, 181, 0, 0.3);
        color: black;
      }

      + &.low {
        background: rgba(38, 133, 60, 0.3);
        color: black;
      }

      &.Mui-disabled {
        border-right: 2px solid $other-stroke;
        background: $alfa-grey-medium-light;

        &:last-child {
          border-right: none;
        }
      }
    }
    .ValueSelected {
      + &.high {
        background: $alfa-grey-medium-light;
        color: black;
        &.Mui-selected {
          background: rgba(223, 43, 54, 1);
          color: white;

          &.Mui-disabled {
            color: white !important;

            &.PastSubjective {
              color: $alfa-grey-silver-bg !important;
              background: $alfa-grey-medium;
            }
          }
        }
      }
      + &.moderate {
        background: $alfa-grey-medium-light;
        color: black;
        &.Mui-selected {
          background: rgba(235, 181, 0, 1);

          &.Mui-disabled {
            color: black !important;

            &.PastSubjective {
              color: $alfa-grey-silver-bg !important;
              background: $alfa-grey-medium;
            }
          }
        }
      }
      + &.low {
        background: $alfa-grey-medium-light;
        color: black;
        &.Mui-selected {
          background: rgba(38, 133, 60, 1);
          color: white;

          &.Mui-disabled {
            color: white !important;

            &.PastSubjective {
              color: $alfa-grey-silver-bg !important;
              background: $alfa-grey-medium;
            }
          }
        }
      }
    }

    .PastSubjective {
      background: $alfa-grey-medium-light;
      color: $alfa-grey-medium;
      &.Mui-selected {
        background: $alfa-grey-dark;
        color: white;
      }
    }

    .MuiToggleButtonGroup-root {
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    }

    .MuiToggleButtonGroup-grouped {
      width: spacing(16);
      height: 35px;
      padding: 2px 30px;
      font-weight: 500;
      border: none;
    }
  }

  .WarningChip {
    border: 1px solid $alfa-yellow-border;
    background: white;
  }

  .AddCustomMeasureButton {
    display: flex;
    justify-content: flex-end;

    :hover {
      cursor: pointer;
    }
  }
}

.IconAlpha {
  background-color: $alfa-grey-light;
}

.VerifiedIcon {
  color: $alfa-blue-dark-button;
  width: 20px;
  margin-right: spacing(1);
  padding-bottom: 1px;
}

.PastSituations,
.PastSubjectiveAssessments {
  width: 100%;

  .HackyLabel {
    margin-bottom: -(spacing(2));
    margin-left: spacing(1);
    z-index: 100;
    padding: 0 spacing(1);
    width: max-content;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, $alfa-grey-silver-bg 100%) !important;
  }

  .SummaryText {
    font-style: italic;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: -(spacing(0.5));
    color: $alfa-grey-dark;
  }

  .PastSituation {
    margin-bottom: spacing(3);

    &:first-child {
      margin-top: -(spacing(3.5));
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .PastAccordion {
    background: $alfa-grey-silver-bg;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23);

    .MuiAccordionSummary-root {
      background: transparent;
      border: none;
    }

    .AccordionText {
      color: $alfa-grey-dark;
      font-size: 0.9rem;
      padding-top: spacing(0.5);
    }
  }

  .PastAssessmentEval {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: $alfa-grey-medium;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-left: 5px;
  }

  .SubRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
  }

  .Expandable {
    padding: spacing(1);
    background: #efefef;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    margin-top: spacing(2);
  }
}

.RiskAssessment {
  .Breadcrumbs {
    padding-bottom: spacing(3);

    .MuiBreadcrumbs-ol {
      position: fixed;
      max-width: min(480px, 38vw);
      flex-wrap: wrap;

      @media screen and (max-height: 725px) {
        position: initial;
        max-width: 100%;
      }
    }
  }
}
