@import 'variables';
@import 'colors';

.SearchResults {
  padding: spacing(2) spacing(3);
  border: none;
  background-color: white;
  text-align: left;
  width: 800px;
  z-index: 200;

  .ContentBody {
    border: none !important;
  }

  .ResultCategory {
    font-weight: 500;
    margin-bottom: spacing(1);
  }

  .MuiLink-root {
    font-size: 18px;
  }
}
