@import 'variables';
@import 'colors';

.StepperForm {
  max-width: $page-maxwidth-small;

  // Set grey color for non-active step buttons
  .MuiStepLabel-root {
    .MuiStepIcon-root {
      &:not(.Mui-active) {
        color: rgba(0, 0, 0, 0.38);
      }
    }

    .MuiStepLabel-label {
      &:not(.Mui-active) {
        color: rgba(0, 0, 0, 0.38);
      }
    }
  }

  .Divider {
    margin-top: spacing(3);
    margin-bottom: spacing(3);
  }

  .ButtonContainer {
    display: flex;

    .MuiButton-root {
      width: 200px;
    }

    .PrevButton {
      margin-right: auto;
    }

    .NextButton {
      margin-left: auto;
    }
  }
}
