@import 'variables';

.ToastContainer {
  .MuiAlert-root {
    min-width: 325px;
    border-radius: 6px;
  }

  .MuiAlert-icon,
  .MuiAlert-action {
    font-weight: 500;
  }
  .MuiAlert-message {
    font-weight: 400;
  }

  .MuiAlert-filledSuccess {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), $alfa-green-light;

    .MuiAlert-message,
    .MuiAlert-action {
      color: $alfa-green-toast-text;
    }

    .MuiAlert-icon {
      color: $alfa-green-light;
    }
  }

  .MuiAlert-filledError {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), $alfa-red-toast-bg;

    .MuiAlert-message,
    .MuiAlert-action {
      color: $alfa-red-toast-text;
    }

    .MuiAlert-icon {
      color: $alfa-red-toast-bg;
    }
  }
}
